/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  --white: #ffffff;
  --green: #089808;
  --grey: #808080;
  --black: #000000;
  --orange: #ffa126;
  --brown: #5f3737;
}

/* Body */
body {
  width: 99vw;
  height: 100vh;
  padding: 24px;
  background-color: var(--white);
}

/* Header */
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
}

header img {
  width: 28px;
}

.chick-logo {
  display: flex;
  width: 200px;
  align-items: center;
  gap: 10px;
}

.chick-logo p {
  font-size: 22px;
}

/* Status Section */
.status-container {
  width: 100%;
  height: auto;
  margin: 40px 0;
  gap: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  width: 48%;
  height: 48%;
  padding: 10px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 160px;
}

.card img {
  width: 28px;
}

.font1 {
  font-size: 20px;
}

.font2 {
  font-size: 16px;
  color: var(--grey);
}

.battery-container {
  height: 10px;
  width: 80%;
  background-color: rgb(202, 237, 205);
  border-radius: 50px;
}

.battery {
  height: 100%;
  width: 85%; /* Change dynamically if needed */
  background-color: var(--green);
  border-radius: 50px;
}

.circle-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.green-circle {
  height: 70px;
  width: 70px;
  border: 5px solid var(--green);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.c1 {
  background-image: linear-gradient(to bottom right, rgb(225, 240, 251), white);
}
.c2 {
  background-image: linear-gradient(to bottom right, rgb(232, 255, 236), white);
}
.c3 {
  background-image: linear-gradient(to bottom right, rgb(251, 252, 203), white);
}
.c4 {
  background-image: linear-gradient(to bottom right, rgb(225, 234, 251), white);
}

/* Controls */
.controls {
  width: 100%;
  margin: 40px 0;
}

.control-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 16px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.controlbox {
  width: 31%;
  height: 110px;
  color: var(--white);
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  padding: 10px;
  cursor: pointer;
}

.controlbox img {
  width: 28px;
}

.cb1 {
  background-color: var(--green);
}
.cb2 {
  background-color: var(--orange);
}
.cb3 {
  background-color: var(--brown);
}

/* Button Status Label */
.off {
  color: var(--white);
  background-color: rgb(109, 109, 109);
  position: relative;
  padding: 2px 12px;
  border-radius: 50px;
  font-size: 12px;
  text-align: center;
}

/* Schedule */
.schedulecontainer {
  width: 100%;
  margin: 40px 0;
}

.schedulebox {
  height: 40px;
  width: 98%;
  margin: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.calender {
  display: flex;
  align-items: center;
  gap: 5px;
}

.calender img {
  width: 28px;
}
.calender p {
  color: var(--green);
}

.time-container {
  background-color: rgb(240, 248, 248);
  width: 100%;
  border-radius: 16px;
  padding: 16px;
}

.on-time {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clock {
  display: flex;
  gap: 10px;
  height: 40px;
  align-items: center;
}

.line-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.line {
  width: 80%;
  height: 2px;
  background-color: gray;
}

.cl {
  width: 28px;
}

/* Alerts */
.alerts {
  width: 100%;
  padding-bottom: 80px;
}

.alert-box {
  height: 80px;
  border-radius: 16px;
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 16px 0;
}

.ab1 {
  background-color: rgb(251, 242, 244);
}
.big-pink {
  color: rgb(208, 10, 10);
  font-size: 18px;
  font-weight: 500;
}
.normal-pink {
  font-size: 16px;
  color: rgb(213, 97, 116);
  margin-top: 4px;
}

.ab2 {
  background-color: rgb(253, 251, 220);
}
.big-yellow {
  color: rgb(208, 10, 10);
  font-size: 18px;
  font-weight: 500;
}
.normal-yellow {
  font-size: 16px;
  color: rgb(213, 97, 116);
  margin-top: 4px;
}

input[type="time"]:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
